.wsu-u-background {
	&--white {
		background-color: color(white, base);
	}
	&--gray-0 {
		background-color: color( gray, 5 );
	}
	&--gray-5 {
		background-color: color( gray, 5 );
	}
	&--gray-10 {
		background-color: color(gray, 10 );
	}
	&--gray-15 {
		background-color: color( gray, 15 );
	}
	&--gray-20 {
		background-color: color( gray, 20 );
	}
	&--gray-25 {
		background-color: color( gray, 25 );
	}
}