// NOTE: this file assumes that there is no other styles being set with these same values.
//       This may cause issues. Need to figure out a way to package one with baseline styles
//       and one with all styles being passed through each component class name. 

/* Document Styles 
======================= */
html {
	font-family: $wsu-bt-primary-font-family;
	font-size: $wsu-bt-base-font-size;
}

/* Link Styles 
======================= */
a {
	color: $wsu-bt-link-color--base;

	&:active {
		color: $wsu-bt-link-color--active;
	}

	&:hover {
		color: $wsu-bt-link-color--hover;
	}

	&:visited {
		color: $wsu-bt-link-color--visited;
	}
}

/* Heading Styles 
======================= */
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: font-size timing(cougar, standard);
}
