// TODO: this file assumes that there is no other styles being set with these same values.
//       This may cause issues. Need to figure out a way to package one with baseline styles
//       and one with all styles being passed through each component class name.

/* Document Styles
======================= */
html {
	font-family: $wsu-bt-primary-font-family;
	font-size: $wsu-bt-base-font-size;
	line-height: 1.6;
	color: color(gray, 85);
}

/* Paragraph Styles
======================= */
p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Base Image Styles 
======================= */
img {
	width: 100%;
}

pre {
	display: block;

	margin: 3px 0;
	padding: $unit-xs;

	color: #D4D4A5;
	border-radius: $wsu-bt-base-border-radius-size;
	background-color: color(gray, 80);

	@include elevate(0);

	&:hover {
		@include elevate(3);
	}
}

code {
	// margin: 0 $unit-2xs;
	// padding: 1px $unit-2xs;

	// background-color: color(gray, 15);
}