// WSU Utility Wrapper Class Prefix
.wsu-u {
	// Utility - Visually Hidden
	// Hides elements from the page
	&-visually-hidden {
		position: absolute;

		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);

		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;

		clip-path: inset(50%);
	}
}
