// WSU Utility Wrapper Class Prefix
.wsu-u {
	// Utility - Visually Hidden
	// Hides elements from the page
	&-visually-hidden {
		position: absolute;

		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);

		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;

		clip-path: inset(50%);
	}

	&-spacer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		height: 200px;
	}

	&-title {
		font-family: monospace;

		text-align: center;
	}

	/** Padding */
	&-pad {
		&--none {
			padding-bottom: 0;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}

		// TODO: Turn into function to set from base padding 
		&--less {
			padding-bottom: 0;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&--more {
			padding-bottom: 0;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&-bottom--none {
			padding-bottom: 0;
		}

		&-top--none {
			padding-top: 0;
		}

		&-left--none {
			padding-left: 0;
		}

		&-right--none {
			padding-right: 0;
		}
	}


}
