// WSU Utility Wrapper Class Prefix
.wsu-u {
	// Utility - Visually Hidden
	// Hides elements from the page
	&-visually-hidden {
		position: absolute;

		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);

		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;

		clip-path: inset(50%);
	}

	/* Design System Inline Documentation
	======================= */
	&-spacer {
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		justify-content: space-between;

		height: 200px;
		margin: $unit 0;
		padding: $unit $unit-3xl;

		background: linear-gradient(-195deg, color(white, base), color(grey, 10));

		@include mq('small') {
			flex-flow: row nowrap;
		}
	}

	&-title {
		font-family: monospace;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-toc {
		display: block;

		max-width: 400px;
		margin: $unit-s auto;
		padding: $unit-xs $unit;

		color: color(white, base);
		background: linear-gradient(-195deg, color(grey, 50), color(grey, 70));

		@include font-size(14px, 300);
		@include elevate(2);

		p {
			margin: 0;
		}

		a {
			transition: color timing();

			color: color(white, base);

			&:hover {
				color: color(grey, 20);
			}
		}
	}

	&-requirements {
		width: 400px;
	}

	/** Padding */
	&-pad {
		&--none {
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		// TODO: Turn into function to set from base padding
		&--less {
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		&--more {
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		&-bottom--none {
			padding-bottom: 0;
		}

		&-top--none {
			padding-top: 0;
		}

		&-left--none {
			padding-left: 0;
		}

		&-right--none {
			padding-right: 0;
		}
	}

	/* Alignment
	======================= */
	&-textalign {

		&--left {
			text-align: left;
		}

		&--right {
			text-align: right;
		}

		&--center {
			text-align: center;
		}
	}
}
