/* Units 
======================= */
$wsu-bt-base-unit: 20px;
$wsu-bt-grid-size: 1440px;
$wsu-bt-gutter-size: 16px;

/* Breakpoints 
======================= */
$wsu-bt-breakpoint--small: 768px;
$wsu-bt-breakpoint--medium: 1024px;
$wsu-bt-breakpoint--large: 1440px;

/* Color Variables for Mixin 
======================= */
$colors: (
	primary: (
		base: #A60F2D,
		light: #CA1237,
	),
	grey: (
		0: hsl(0, 0, 97%),
		5: hsl(0, 0, 95%),
		10: hsl(0, 0, 90%),
		20: hsl(0, 0, 80%),
		30: hsl(0, 0, 70%),
		40: hsl(0, 0, 60%),
		50: hsl(0, 0, 50%),
		60: hsl(0, 0, 40%),
		70: hsl(0, 0, 30%),
		75: hsl(0, 0, 25%),
		80: hsl(0, 0, 20%),
		90: hsl(0, 0, 10%),
		100: hsl(0, 0, 3%),
	)
);

/* Typography
======================= */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

$wsu-bt-primary-font-family: 'Montserrat', sans-serif;
$wsu-bt-link-color--base: #A60F2D;
$wsu-bt-link-color--active: #CA1237;
$wsu-bt-link-color--hover: #CA1237;
$wsu-bt-link-color--visited: #A60F2D;

/* Sizing Units 
======================= */
$unit-2xs: $wsu-bt-base-unit * 0.25; // 5px
$unit-xs: $wsu-bt-base-unit * 0.5; // 10px
$unit-s: $wsu-bt-base-unit * 0.75; // 15px
$unit: $wsu-bt-base-unit * 1; // Baseline Unit
$unit-l: $wsu-bt-base-unit * 1.25; // 25px
$unit-xl: $wsu-bt-base-unit * 1.5; // 30px
$unit-2xl: $wsu-bt-base-unit * 1.75; // 35px
$unit-3xl: $wsu-bt-base-unit * 2; // 40px