/* Units 
======================= */
$wsu-bt-base-unit: 16px;
$wsu-bt-grid-size: 1440px;
$wsu-bt-gutter-size: 16px;

/* Breakpoints 
======================= */
$wsu-bt-breakpoint--small: 768px;
$wsu-bt-breakpoint--medium: 1024px;
$wsu-bt-breakpoint--large: 1440px;

/* Color Variables for Mixin 
======================= */
$colors: (
	primary: (
		base: #A60F2D,
		light: #CA1237,
	),
	grey: (
		0: hsl(0, 0, 97%),
		5: hsl(0, 0, 95%),
		10: hsl(0, 0, 90%),
		20: hsl(0, 0, 80%),
		30: hsl(0, 0, 70%),
		40: hsl(0, 0, 60%),
		50: hsl(0, 0, 50%),
		60: hsl(0, 0, 40%),
		70: hsl(0, 0, 30%),
		75: hsl(0, 0, 25%),
		80: hsl(0, 0, 20%),
		90: hsl(0, 0, 10%),
		100: hsl(0, 0, 3%),
	)
);