/**
* Function for setting the vertical position of an element on the document. Accepts values 0 - 6.
*
* Example:
* @include elevate(3);
*/

@mixin elevate($elevation) {
  transition: box-shadow timing(cougar, standard);

  box-shadow: map-get($key-shadow-umbra-map, $elevation),
  map-get($key-shadow-penumbra-map, $elevation),
  map-get($ambient-shadow-map, $elevation);
}

/**
* Function for adding a drop shadow behind an element.
*
* Example:
* @include shadow();
*/

@mixin shadow($state: 'default') {
	@if ($state == 'hover' ) {
		box-shadow:
			0 1px 2.5px rgba(0, 0, 0, 0.101),
			0 3.4px 8.5px rgba(0, 0, 0, 0.149),
			0 15px 38px rgba(0, 0, 0, 0.25)
		;
	} @else {
		box-shadow:
			0 0.3px 1.3px rgba(0, 0, 0, 0.04),
			0 1.1px 4.2px rgba(0, 0, 0, 0.06),
			0 5px 19px rgba(0, 0, 0, 0.1)
		;
	}
}