/* Font size 
 * Example usage: @include font-size(1rem, 700, 1.8);
 * @params $size, $font-weight, $line-height
======================= */
@mixin font-size($size: 1rem, $font-weight: 400, $line-height: 1.5) {
	font-size:  $size;
    font-weight: $font-weight; // IDEA: Create text values for users to pass in, instead of having to know the font weight, they could input 'thin', 'medium', etc which would map to the exact font-weights
    line-height: $line-height; // IDEA: We probably shouldn't allow users to just pick whatever line height they want, maybe coming up with a 'compact', 'tiny', 'expanded', etc model for this as well would help 
}