/* Font 
 * Example usage: @include font('primary');
 * @params $font-family
======================= */
@mixin font($family: 'primary') {
	font-family: $wsu-bt-primary-font-family;
	font-size: $wsu-bt-base-font-size;
	line-height: 1.6;
	color: color(gray, 85);
	
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;

	@if ( $family == 'secondary' ) {
		font-family: $wsu-bt-secondary-font-family;
	}
}
