/* Is Icon 
======================= */
@mixin is-icon($icon-size: $unit) {
	width: $icon-size;
	height: $icon-size;
}

/* Is Icon Centered in Container
======================= */
@mixin is-icon-centered-in-container($container-width: 60px, $container-height: 60px, $icon-size: $unit) {
	position: relative;
	width: $container-width;
	height: $container-height;
	display: block;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
	
		width: $icon-size;
		height: $icon-size;
		display: block;
	
		transition: 500ms ease width;
		transform: translate(-50%, -50%);
	}
}

/* Is a psuedo element
======================= */
@mixin is-psuedo-element($position: relative) {
	content: "";
	position: $position;
	display: block;
}
