/* Is Icon
======================= */
@mixin is-icon($icon-size: $unit) {
	width: $icon-size;
	height: $icon-size;
}

/* Is Icon Centered in Container
======================= */
@mixin is-icon--boxed($container-width: 60px, $container-height: 60px, $icon-size: $unit, $icon-x-offset: 0px, $icon-y-offset: 0px) {
	position: relative;

	display: block;

	width: $container-width;
	height: $container-height;

	svg {
		position: absolute;
		top: calc(50% + #{$icon-y-offset});
		left: calc(50% + #{$icon-x-offset});

		display: block;

		width: $icon-size;
		height: $icon-size;

		transition: width timing(1000, standard), height timing(1000, standard);
		transform: translate(-50%, -50%);
	}
}

/* Is a psuedo element
======================= */
@mixin is-psuedo-element($position: relative, $display: block, $content: "") {
	position: $position;

	display: $display;

	content: $content;
}

/* Is visually hidden
 * Example: @include is-visually-hidden();
======================= */
@mixin is-visually-hidden {
	position: absolute !important;

	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;

	border: 0 !important;
}

/* Is centered
======================= */
@mixin is-centered {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

/* Is vertically centered
======================= */
@mixin is-vertically-centered {
	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

/* Is horizontally centered
======================= */
@mixin is-horizontally-centered {
	position: absolute;
	left: 50%;

	transform: translateX(-50%);
}
