//
// Media Queries
//
// Example: @include mq('small') { color: red; }
//
$breakpoints: (
	"small":  $wsu-bt-breakpoint--small,
	"medium": $wsu-bt-breakpoint--medium,
	"large":  $wsu-bt-breakpoint--large,
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}