//
// Media Queries
//
// Example: @include mq('small') { color: red; }
//
$breakpoints: (
	"xsmall":  $wsu-bt-breakpoint--xsmall,
	"small":   $wsu-bt-breakpoint--small,
	"medium":  $wsu-bt-breakpoint--medium,
	"medium-large":  $wsu-bt-breakpoint--medium-large,
	"large":   $wsu-bt-breakpoint--large,
	"xlarge":  $wsu-bt-breakpoint--xlarge,
	"mobile": $wsu-bt-breakpoint--small,
	"tablet": $wsu-bt-breakpoint--large,
	"desktop": $wsu-bt-breakpoint--xlarge,
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
