@mixin icon-container($width: 60px, $height: 60px) {
	position: relative;
	width: $width;
	height: $height;
}

@mixin icon($width: 38px) {
	position: absolute;
	top: 50%;
	left: 50%;

	width: $width;

	transition: 500ms ease width;
	transform: translate(-50%, -50%);
}
