//
// Z-index
//
// Example: z-index: z('header');
//
$z-indexes: (
	notice: 9000,
	modal: 8000,
	modalOverlay: 7999,
	dropdown: 7000,
	header: 6000,
	content: 5000,
	contentbackground: 4900,
	footer: 4000,
	decorative: 1000,
);

@function z($name) {
	@if map-has-key($z-indexes, $name) {
		@return map-get($z-indexes, $name);
	} @else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
		@return null;
	}
}
